
.contenedor{
    width: 30%;
    background: linear-gradient(#e66465, #9198e5);
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    font-family:fantasy;
    
    
}

h1{
    
    color: rgb(91, 87, 87);
    text-decoration: dotted;
    
    
}

button{
    padding: 10px;
    border-radius: 50%;
    width: 11%;
    margin: 10px;
    background-color: rgb(209, 179, 220);
    color: rgb(236, 9, 138);
    font-size: 20px;
    transition: all 1s ease;
}

button:hover{
    background: #7e0404;
  color: rgb(72, 205, 235) !important;
}

label{
    margin: 10px;
    color:  rgb(91, 87, 87);
}

input{
    margin: 2px;
}